<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LAGASCA</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BSIT3L_Movies.styles.css" asp-append-version="true" />
 

</head>
<body>
    <header>
  <ul>
  <li style="float:left"><a class="active" class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">MOVIES</a></li>
  <li style="pointer-events:none"><a href=""></a></li>
  <li style="float:right"> <a href="#home">Home</a></li>
  <li style="float:right"><a href="#contact">Contact</a></li>
  <li style="float:right"> <a href="#home">About</a></li>
  
  
</ul>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


</body>
</html>

